#
# SLSI Debugging
#
CONFIG_CMUCAL_DEBUG=y
CONFIG_EXYNOS_EHLD=y
# CONFIG_DEBUG_SNAPSHOT_USER_MODE is not set

#
# Kernel Performance Events and Counters
#
CONFIG_SLUB_DEBUG=y
CONFIG_CGROUP_DEBUG=y

#
# printk and dmesg options
#
CONFIG_DYNAMIC_DEBUG=y

#
# Memory Debugging
#
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_DEBUG_PAGEALLOC_ENABLE_DEFAULT=y
CONFIG_PAGE_POISONING=y
CONFIG_DEBUG_RODATA_TEST=y
CONFIG_DEBUG_OBJECTS=y
CONFIG_DEBUG_OBJECTS_FREE=y
CONFIG_DEBUG_OBJECTS_TIMERS=y
CONFIG_DEBUG_OBJECTS_WORK=y
CONFIG_DEBUG_OBJECTS_RCU_HEAD=y
CONFIG_DEBUG_OBJECTS_PERCPU_COUNTER=y
CONFIG_DEBUG_PER_CPU_MAPS=y
CONFIG_SLUB_DEBUG_ON=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_KMEMLEAK_EARLY_LOG_SIZE=8192
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_PTRACK_DEBUG=y
CONFIG_CMA_DEBUGFS=y

#
# Debug Lockups and Hangs
#
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_TIMER_STATS=y
CONFIG_DEBUG_PREEMPT=y

#
# Lock Debugging (spinlocks, mutexes, etc...)
#
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
# CONFIG_DEBUG_LOCK_ALLOC is not set
# CONFIG_PROVE_LOCKING is not set
CONFIG_DEBUG_LIST=y
CONFIG_DEBUG_PI_LIST=y
CONFIG_DEBUG_SG=y
CONFIG_DEBUG_PREEMPT=y

CONFIG_IS_DDK_DATA_LOAD=n

#
# Battery driver
#
CONFIG_ENG_BATTERY_CONCEPT=y

#
# SENSORHUB Debug
#
CONFIG_SSP_ENG_DEBUG=y
CONFIG_SHUB_DEBUG=y

#
# GPIO Debugging
#
CONFIG_SEC_GPIO_DVS=y

# USB Eye Pattern
CONFIG_USB_EHSET_TEST_FIXTURE=y

# SDP KeyManagement Test for MDFPP evaluation
CONFIG_SDP_KEY_DUMP=y

CONFIG_DEBUG_FS=y

# UH
# CONFIG_RKP_FIMC_CHECK is not set
# CONFIG_KDP is not set

CONFIG_EXYNOS_BCM_DBG=y
CONFIG_EXYNOS_BCM_DBG_GNR=y

#
# WLBT eng mode
#
CONFIG_SCSC_WLAN_DEBUG=y
CONFIG_SCSC_DEBUG=y
CONFIG_SCSC_DEBUG_COMPATIBILITY=y
CONFIG_SCSC_DBG_SAMPLER=y

#
# DO NOT REMOVE THE LAST BLANK LINE
#

