CONFIG_PSI=y
# CONFIG_ZONE_DMA32 is not set
CONFIG_PCI=y
CONFIG_PCIE_DW_PLAT_HOST=y
# CONFIG_CAVIUM_ERRATUM_22375 is not set
# CONFIG_CAVIUM_ERRATUM_23154 is not set
# CONFIG_CAVIUM_ERRATUM_27456 is not set
# CONFIG_CAVIUM_ERRATUM_30115 is not set
# CONFIG_QCOM_FALKOR_ERRATUM_1003 is not set
# CONFIG_QCOM_FALKOR_ERRATUM_1009 is not set
# CONFIG_QCOM_QDF2400_ERRATUM_0065 is not set
CONFIG_CMDLINE="androidboot.selinux=enforcing androidboot.debug_level=0x4948 corememsize=8G"
CONFIG_CMDLINE_EXTEND=y
CONFIG_PM_AUTOSLEEP=y
CONFIG_ENERGY_MODEL=y
CONFIG_ARM64_EXYNOS_MOCE=y
# CONFIG_EXYNOS_PSTATE_HAFM is not set
CONFIG_CMA_DEBUGFS=y
CONFIG_SND_SOC_SAMSUNG_EXYNOS9630_SOUND=y
CONFIG_SND_SOC_TAS2562=y
CONFIG_SEC_SND_ADAPTATION=y
CONFIG_XFRM_INTERFACE=y
CONFIG_XFRM_STATISTICS=y
# CONFIG_INET_XFRM_MODE_BEET is not set
CONFIG_NETFILTER_XT_TARGET_CT=y
CONFIG_NETFILTER_XT_MATCH_OWNER=y
CONFIG_NET_SCH_NETEM=y
CONFIG_NET_CLS_BPF=y
CONFIG_EXTRA_FIRMWARE="npu/NPU.bin"
CONFIG_EXTRA_FIRMWARE_DIR="./firmware"
CONFIG_BLK_DEV_LOOP_MIN_COUNT=16
CONFIG_VBUS_NOTIFIER=y
CONFIG_USE_SAFEOUT=y
CONFIG_DM_BOW=y
CONFIG_DM_DEFAULT_KEY=y
# CONFIG_HWMON is not set
CONFIG_FB_MODE_HELPERS=y
CONFIG_USB_SUPPORT=y
CONFIG_USB=y
CONFIG_ANDROID_SWITCH=y
CONFIG_EXYNOS_IOMMU=y
CONFIG_CAL_IF=y
CONFIG_CMUCAL_DEBUG=y
CONFIG_CMUCAL_QCH_IGNORE_SUPPORT=y
CONFIG_EXYNOS_SCI=y
# CONFIG_EXYNOS_BCM_DBG is not set
CONFIG_FLEXPMU=y
CONFIG_SHUB_PMUCAL=y
# CONFIG_EXYNOS_SSP is not set
# CONFIG_EXYNOS_CPU_PERF is not set
CONFIG_EXYNOS_ENABLE_HDCP2=y
# CONFIG_EXYNOS_PMU is not set
# CONFIG_EXYNOS_ALT_DVFS is not set
CONFIG_PHY_EXYNOS_MIPI=y
CONFIG_SWITCH=y
CONFIG_OVERLAY_FS=y
CONFIG_CRYPTO_DISKCIPHER_DEBUG=y
CONFIG_EXYNOS_FMP_FIPS=y
CONFIG_DEBUG_VM=y
CONFIG_DEBUG_VM_PGFLAGS=y
CONFIG_PANIC_ON_OOPS=y
# CONFIG_EXYNOS_OCP is not set
CONFIG_SYNC_FILE=y
CONFIG_USB_RTL8152=y
# CONFIG_NVME_TARGET is not set
# CONFIG_USB_CHIPIDEA is not set
# CONFIG_USB_GADGET_DEBUG is not set
# CONFIG_USB_GADGET_DEBUG_FILES is not set
# CONFIG_USB_GADGET_DEBUG_FS is not set
CONFIG_USB_GADGET_VBUS_DRAW=2
CONFIG_USB_GADGET_STORAGE_NUM_BUFFERS=2
# CONFIG_USB_OLD_CONFIGFS is not set
CONFIG_USB_ANDROID_SAMSUNG_COMPOSITE=y

#
# USB Peripheral Controller
#
# CONFIG_USB_FOTG210_UDC is not set
# CONFIG_USB_GR_UDC is not set
# CONFIG_USB_R8A66597 is not set
# CONFIG_USB_PXA27X is not set
# CONFIG_USB_MV_UDC is not set
# CONFIG_USB_MV_U3D is not set
# CONFIG_USB_SNP_UDC_PLAT is not set
# CONFIG_USB_M66592 is not set
# CONFIG_USB_BDC_UDC is not set
# CONFIG_USB_AMD5536UDC is not set
# CONFIG_USB_NET2272 is not set
# CONFIG_USB_NET2280 is not set
# CONFIG_USB_GOKU is not set
# CONFIG_USB_EG20T is not set
# CONFIG_USB_GADGET_XILINX is not set
# CONFIG_USB_DUMMY_HCD is not set
CONFIG_USB_LIBCOMPOSITE=y
CONFIG_USB_F_FS=y
CONFIG_USB_F_MIDI=y
CONFIG_USB_F_AUDIO_SRC=y
CONFIG_USB_F_ACC=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_UEVENT=y
# CONFIG_USB_CONFIGFS_SERIAL is not set
# CONFIG_USB_CONFIGFS_ACM is not set
# CONFIG_USB_CONFIGFS_OBEX is not set
# CONFIG_USB_CONFIGFS_NCM is not set
# CONFIG_USB_CONFIGFS_ECM is not set
# CONFIG_USB_CONFIGFS_ECM_SUBSET is not set
# CONFIG_USB_CONFIGFS_RNDIS is not set
# CONFIG_USB_CONFIGFS_EEM is not set
# CONFIG_USB_CONFIGFS_MASS_STORAGE is not set
# CONFIG_USB_CONFIGFS_F_LB_SS is not set
# CONFIG_USB_CONFIGFS_F_ADB is not set
# CONFIG_USB_CONFIGFS_F_SIMMIAN is not set
# CONFIG_USB_CONFIGFS_F_UAC1 is not set
# CONFIG_USB_CONFIGFS_F_UAC1_LEGACY is not set
# CONFIG_USB_CONFIGFS_F_UAC2 is not set
# CONFIG_USB_CONFIGFS_F_HID is not set
# CONFIG_USB_CONFIGFS_F_UVC is not set
# CONFIG_USB_CONFIGFS_F_PRINTER is not set
# CONFIG_OCFS2_FS is not set
CONFIG_CONFIGFS_FS=y
# CONFIG_DLM is not set
CONFIG_TOUCHSCREEN_MELFAS_MSS100=y
CONFIG_MODEM_IF_QOS=y
CONFIG_CPIF_TP_MONITOR=y
CONFIG_SND_SOC_AUD3003X=y
CONFIG_SND_SOC_AUD3003X_5PIN=y
CONFIG_SND_SOC_AUD3003X_6PIN=n
