#
# UNIVERSAL3830 board specific configuration
#
CONFIG_REGULATOR_S2MPB03=y
CONFIG_MODEM_IF_QOS=y
CONFIG_EXYNOS_ENABLE_HDCP2=y
CONFIG_SCSC_WLBT_CONFIG_PLATFORM="nacho_s612_a31_univ"
CONFIG_SND_SOC_SAMSUNG_EXYNOS3830_SOUND=y
CONFIG_SND_SOC_AUD3004X=y
CONFIG_SND_SOC_AUD3004X_5PIN=y
CONFIG_SND_SOC_AUD3004X_6PIN=n
CONFIG_SND_SOC_AUD3004X_EXT_ANT=y
CONFIG_SND_SOC_SMA1303=y
