#
# UNIVERSAL3830 board specific configuration
#
CONFIG_REGULATOR_S2MPB03=y
CONFIG_MODEM_IF_QOS=y
CONFIG_EXYNOS_ENABLE_HDCP2=y
CONFIG_SCSC_WLBT_CONFIG_PLATFORM="nacho_s612_a31_univ"
CONFIG_SND_SOC_SAMSUNG_EXYNOS3830_SOUND=y
CONFIG_SND_SOC_AUD3004X=y
CONFIG_SND_SOC_AUD3004X_5PIN=y
CONFIG_SND_SOC_AUD3004X_6PIN=n
CONFIG_SND_SOC_AUD3004X_EXT_ANT=y
CONFIG_SND_SOC_SMA1303=y
CONFIG_EXYNOS_PM_DOMAIN_DEBUG=y
CONFIG_ANDROID_BINDERFS=y
CONFIG_BPF_JIT=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_DM_SNAPSHOT=y
CONFIG_DUMMY=y
CONFIG_FS_VERITY=y
CONFIG_FS_VERITY_BUILTIN_SIGNATURES=y
# CONFIG_FW_CACHE is not set
CONFIG_IKHEADERS=y
CONFIG_STATIC_USERMODEHELPER=y
CONFIG_STATIC_USERMODEHELPER_PATH=""
CONFIG_VETH=y
CONFIG_ARM64_SW_TTBR0_PAN=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_UNICODE=y
CONFIG_SOC_EXYNOS3830_ANDROID_VERSION_R=y
